@{
    ViewBag.Title = "Index";
}

<!-- Home Section -->

    <section class="success" id="home">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Home</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
                    <div class="thumbnail">
                        <img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/wdXqHcTwSTmLuKOGz92L_Landscape.jpg">
                    </div>
                </li>
                <li data-target="#thumbnail-preview-indicators" data-slide-to="1">
                    <div class="thumbnail">
                        <img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/tU3ptNgGSP6U2fE67Gvy_SYDNEY-162.jpg">
                    </div>
                </li>
                <li data-target="#thumbnail-preview-indicators" data-slide-to="2">
                    <div class="thumbnail">
                        <img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/mtNrf7oxS4uSxTzMBWfQ_DSC_0043.jpg">
                    </div>
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item slides active">
                    <div class="slide-1"></div>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1> Black Rabbits Team</h1>
                            <p>Group of enthusiasts determinated to become great software developers </p>
                            <p><a class="btn btn-lg btn-primary" href="#about" role="button"> Read more about us </a></p>
                        </div>
                    </div>
                </div>
                <div class="item slides">
                    <div class="slide-2"></div>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1> Watch latest videos</h1>
                            <p>Register to have access to all video tutorials</p>
                            <p><a class="btn btn-lg btn-primary" href="#latestVideos" role="button"> Register Now</a></p>
                        </div>
                    </div>
                </div>
                <div class="item slides">
                    <div class="slide-3"></div>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Interesting articles</h1>
                            <p>Something interesting</p>
                            <p><a class="btn btn-lg btn-primary" href="#home" role="button">Browse gallery</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </section>
    <!-- About Us Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2> About Us </h2>
                    <hr class="star-light">
                </div>
                <div class="col-lg-12 text-center">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p> Discover a course and sign up today. </p>
                    <p>Choose from hundreds of videos created by the world’s top educational institutions. Courses are open to anyone, and learning is free.</p>
                    <img src="~/Content/Images/AboutUs1.jpg" class="img-responsive" />
                </div>
                <div class="col-lg-6">
                    <p> Achieve your goals. </p>
                    <p>Finish your course and receive formal recognition for your accomplishment with an optional Verified Certificate.</p>
                    <img src="~/Content/Images/AboutUs2.jpg" class="img-responsive" />
                </div>
                <div class="col-lg-6">
                    <p> Mastery learning </p>
                    <p>Based on an approach developed by educational psychologist Benjamin Bloom, Mastery Learning helps learners fully understand a topic before moving onto a more advanced topic. </p>
                    <p> On our site, we typically give immediate feedback on a concept a learner did not understand. In many cases, </p>
                    <p>we provide randomized versions of the assignment so a learner can re-study and re-attempt until they master it.</p>

                    <img src="~/Content/Images/AboutUs3.jpg" class="img-responsive" />
                </div>
                <div class="col-lg-6">
                    <p> Blended learning </p>
                    <p> Many of our partner institutions are using our online platform to provide their on-campus students with an improved learning experience. </p>
                    <p>This blended model of learning has shown in studies to increase student engagement, attendance and performance.</p>
                    <img src="~/Content/Images/AboutUs4.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
    </section>
    <h2>Latest Videos</h2>
    <!-- Latest Videos Section -->
    <section id="latestVideos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Latest Videos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>

                        <img src="~/Content/Images/Video1.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/Images/Video2.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/Images/Video3.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/Images/Video4.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/Images/Video5.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="~/Content/Images/Video6.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Skopje / Veles </h3>
                        <p> MACEDONIA </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3> Tutorials Site</h3>
                        <p>Watch the best video tutorials</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Black Rabbits 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

